<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirza Azam - Host a Meet and Greet</title>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="css/calender.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/common-phone.css">
    <link rel="stylesheet" href="css/blog.css">
</head>
<body>
    {{>header}}
    <nav>
        <ul class="ps-0 mb-0">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/timeline">Timeline</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/speech">Speeches & Reports</a>
            </li>
            <li>
                <a href="/news">News & Events</a>
            </li>
            <li>
                <a class="active" href="/blogs">Blogs</a>
            </li>
            <li>
                <a href="/contact">Contacts</a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7">
                    <img class="photo_post d-block mb-3 shadow" src="img/about.jpg" alt="photo">
                    <h1 class="mb-3">Host a Meet and Greet</h1>
                    <p>Lorem ipsum dolor sit amet, ea pri meis accusam. Et vis accusam rationibus liberavisse, an vix viderer admodum. Atqui docendi omittam ei has, liber constituam id vim. Eam in dico doming definiebas. Cum munere impetus et. Ne nam simul oblique alterum, pri solet omnium id, usu an munere.</p>
                    <h4 class="fw-bold">Sit eu facer soluta fuisset us magna mazimid</h4>
                    <div class="d-flex my-3">
                        <div>
                            <p>Ne fugit essent persequeris sed. Qui dico dicam sadipscing no. Ius posse omnes eleifend ne, no sea amet oblique. Mea in wisi utinam facilisi. Eu omnes nonumes reformidans sit, et eam aperiam pertinacia.</p>
                            <p class="mb-0">Te posse nostro labores pri, agam audire eu mei, natum voluptaria an mel. Ut illud maiestatis nec, vis cu propriae deterruisset. Ea mazim suavitate ius. Ei lorem instructior sea, populo necessitatibus ut est. Ne vix voluptua.</p>
                        </div>
                        <img class="d-block w-100 photo_post2 shadow" src="img/photo-7.jpg" alt="photo">
                    </div>
                    <p>Porro deleniti apeirian mea at, nostro referrentur an mei. Wisi alienum ullamcorper ea duo, aperiri apeirian vel ad. Sit eu facer soluta fuisset. Ius magna mazim id. In putant consulatu pri, per persius quaeque perpetua an.Ne fugit essent persequeris sed. Qui dico dicam sadipscing no.</p>
                    <div class="quote mt-4">
                        <img src="img/iconmonstr-quote-5.svg" class="d-block mb-3" alt="icon">
                        <p><i class="text-light fw-bold">Our mission is to provide executive leadership, as well as set priorities and goals for the City and its neighbourhoods.</i></p>
                        <span>Mirza Azam</span>
                    </div>
                    <div class="comment my-4">
                        <h2 class="text-center">Add Your Comment</h2>
                        <form action="/">
                            <div class="row gy-3">
                                <div class="col-md-6">
                                <input class="w-100 form-control" type="text" placeholder="Your name">
                                </div>
                                <div class="col-md-6">
                                    <input class="w-100 form-control" type="text" placeholder="Your e-mail">
                                </div>
                                <div class="col-12">
                                    <textarea placeholder="Type your message" class="w-100 form-control" rows="8"></textarea>
                                </div>
                            </div>
                            <button class="btns mt-3" type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="all-comments">
                        <h2 class="text-center fw-bold">All comments</h2>
                        <div class="item">
                            <h4 class="mb-0">Ashik Aziz</h4>
                            <small><i>adnanshanto1@gmail.com</i></small>
                            <p class="mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere nostrum asperiores sequi dolor minima soluta omnis quisquam libero rem commodi.</p>
                            <small class="text-secondary d-block text-end text-uppercase">12 september, 2021</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="category utility">
                        <h2>Categories</h2>
                        <ul class="list-group">
                            <li>
                                <a href="/" class="list-group-item">Development Work</a>
                            </li>
                            <li>
                                <a href="/" class="list-group-item">News and Events</a>
                            </li>
                            <li>
                                <a href="/" class="list-group-item">Speeches and Interviews</a>
                            </li>
                            <li>
                                <a href="/" class="list-group-item">Social activities</a>
                            </li>
                        </ul>
                    </div>
                    <div class="recent-news utility">
                        <h2>Recent News</h2>
                        <div class='d-flex'>
                            <div class="item shadow">
                                <div style="background:url('img/speech.jpg');"></div>
                                <div>
                                    <h5 class="fw-bold">How well do you know government?</h5>
                                    <small class="golden_small d-flex align-items-center">
                                        <img class="me-2" src="img/calender.svg" alt="icon">
                                        NOVEMBER 22, 2017
                                    </small>
                                </div>
                            </div>
                            <div class="item shadow">
                                <div style="background:url('img/speech.jpg');"></div>
                                <div>
                                    <h5 class="fw-bold">How well do you know government?</h5>
                                    <small class="golden_small d-flex align-items-center">
                                        <img class="me-2" src="img/calender.svg" alt="icon">
                                        NOVEMBER 22, 2017
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calenderDiv utility">
                        <h2>Calender</h2>
                        <div class="calender"></div>
                    </div>
                    <div class="newsletter utility">
                        <h2>Newsletter</h2>
                        <span class="t-small mb-2">Subscribe to our newsletter</span>
                        <form action="/" method="POST">
                            <input type="text" placeholder="Enter your email" class="form-control">
                            <button class="btns mt-2" type="submit">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section id="upper_footer">
        <div class="d-flex justify-content-center">
            <a href="/">
                <img src="img/logo.png" alt="Logo">
            </a>
        </div>
    </section>
    <footer>
        <div class="p-3">
            Mirza Azam © 2021. All Rights Reserved. Developed by A2Z Creatives & IT
        </div>
    </footer>

    <!-- JavaScript is included -->
    <script src="js/nav.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/calender.js"></script>
    <script>
        $(document).ready(function(){
            $(".calender").simpleCalendar({
                displayEvent:false
            });
        });
    </script>
</body>
</html>