    <header>
        <div class="container py-2">
            <div class="address d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <span class="me-2">
                        <img class="h-100" src="img/location.svg" alt="location">
                    </span>
                    <span>
                        <small class="golden_small">VISIT US</small>
                        <br>
                        <small class="text-secondary">Madarganj, Jamalpur 2000</small>
                    </span>
                </div>
                <a href="/" class="btns">CONTACT US</a>
            </div>
        </div>
    </header>